<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!--Mahindra USA -->
    <add key="COMPANY" value ="MUSA"/>
    <add key="ASSEMBLY" value="MUSA"/>
    <add key="Redrawlabel" value="false"/>
    <add key="FigNoWithModelCode" value="False"/>
    <add key="WithoutVehType" value="false"/>
    <!--<add key="MANDTENGINE" value="true"/>MUSA-->
    <add key="MANDTENGINE" value="false"/>
    <add key="SRSTARTPOS" value="0"/>
    <add key="FP" value="2"/>
    <add key="saveimg" value="YES"/>
    <add key="partscrollsize" value="50"/>
    <add key="scrollsize" value="20"/>
    <add key="mailSend" value="true"/>
    <add key="OC" value="8"/>
    <add key="Oracle" value="100"/>

  </appSettings>
  <connectionStrings>
    <!--View Path-->
    <!-- <add name="EpcArchiveConnectionString" connectionString="vIU0CszyOqCuuWFsdrjThu9Tj2pMmRsW6D/VGdNAueBHCvyaCwJezNFTUYFfuWHWNGU0/qeDuE4=" providerName="System.Data.OracleClient"/>
    <add name="EpcArchiveConnectionType" connectionString="pEYFvqMLmIY="/>
    <add name="ViewPath" connectionString="http://localhost:8969/EpcView/Default.aspx?"/>-->

    <!-- SQL EPCNEW-->
    <!--<add name="IntelliCatalogueConnectionString" connectionString="bQSoB2QjbNv3tVIA6UsLh0SKoPV+IFHRJE9ca0jS2TWPgmnj0e0Zcv0pejuJdZmWuloqCNXdmlHlzhELtzEfag==" providerName="System.Data.SqlClient"/>
    <add name="IntelliCatalogueConnectionType" connectionString="lmwiXeJVuFM="/>-->

    <!--137.116.161.232 EPCLIVE-->
    <add name="IntelliCatalogueConnectionString" connectionString="pjEr1JYs+MQOxaq5vEu9KQ2er/xvaC0ymgmIMfmEdHDlrLxNPt9uK1+KKRYEX2cSEzHIeGE6IndNi1zCFaULqg==" providerName="System.Data.SqlClient" />
    <add name="IntelliCatalogueConnectionType" connectionString="lmwiXeJVuFM=" />

    <!--10.2.206.249 EPCUAT-->
    <!--<add name="IntelliCatalogueConnectionString" connectionString="pjEr1JYs+MSrMGZl3XPetxn9vlhz4G6xbhOw7MrlKeKbhxnIuTnaT3A5gmZjhdppqZW08S+6fXE=" providerName="System.Data.SqlClient" />
    <add name="IntelliCatalogueConnectionType" connectionString="lmwiXeJVuFM=" />-->

    <!--137.116.161.232 EPCTEST-->
    <!--<add name="IntelliCatalogueConnectionString" connectionString="pjEr1JYs+MQOxaq5vEu9KQ2er/xvaC0ymgmIMfmEdHDHuLpk0ODj8l+KKRYEX2cSEzHIeGE6IndNi1zCFaULqg==" providerName="System.Data.SqlClient" />
    <add name="IntelliCatalogueConnectionType" connectionString="lmwiXeJVuFM=" />-->

    <!-- SQL EPCDEMO Nasik server-->
    <!--<add name="IntelliCatalogueConnectionString" connectionString="qVSRusv+vWIb19K7Nt/xZyXMtPmw5MeOM4eOaAscWM6FdQCeqysJTms5PeUT3r0KNtuqZPpanKdOMxGY3mL/QMbZflGqUwds2kd8RIQxqOR0Nchm1bPy0A==" providerName="System.Data.SqlClient" />
    <add name="IntelliCatalogueConnectionType" connectionString="lmwiXeJVuFM=" />-->

    <!--orclmnaln MLALECATTEST-->
    <!--<add name="IntelliCatalogueConnectionString" connectionString="vIU0CszyOqD68vc15+3fIkClm8rDM/ry/545OZs5u7xIebOXcTI4VspDuZjbSeifTCjhh0cGdto=" providerName="System.Data.OracleClient"/>
		<add name="IntelliCatalogueConnectionType" connectionString="pEYFvqMLmIY="/>-->

    <!--win12server Orclmnal mnalecattest-->
    <!--<add name="IntelliCatalogueConnectionString" connectionString="vIU0CszyOqCeo11HyYuMo9EphyQCiUxPAPD1UFNbZ/j5+eFE1py1p4huCOmzMt/pvEJWFIDATdE=" providerName="System.Data.OracleClient"/>
    <add name="IntelliCatalogueConnectionType" connectionString="pEYFvqMLmIY="/>-->
    <!--ORCLTEST HONDA-->
    <!--<add name="IntelliCatalogueConnectionString" connectionString="vIU0CszyOqB5l07Y6Pm6Ri6U5OY590WTyfKIvGW1UURweDPq4iK95g==" providerName="System.Data.OracleClient" />
    <add name="IntelliCatalogueConnectionType" connectionString="pEYFvqMLmIY=" />-->

    <!-- SQL EPCDBM Maruti Nasik server-->
    <!--<add name="IntelliCatalogueConnectionString" connectionString="qVSRusv+vWIb19K7Nt/xZyXMtPmw5MeOM4eOaAscWM6FdQCeqysJTjc84BGsKJxfxfsv2WMEAxLtzaj8RnhSX0AQ7UML4Jx2uloqCNXdmlHlzhELtzEfag==" providerName="System.Data.SqlClient" />
    <add name="IntelliCatalogueConnectionType" connectionString="lmwiXeJVuFM=" />-->

    <!--ORCLTEST MFSECAT-->
    <!--<add name="IntelliCatalogueConnectionType" connectionString="pEYFvqMLmIY=" />
    <add name="IntelliCatalogueConnectionString" connectionString="zzQWoosR9n7MmN7m5j2S0OA2xPrJ3UCB5AcX5EKEjuew+kWWu97cAQ==" providerName="System.Data.OracleClient" />-->

    <!--ORCLMH ECATALOG (M&M) -->
    <!--<add name="IntelliCatalogueConnectionString" connectionString="vIU0CszyOqDpcCSWIckiDcHsZaB8Ag7JLYECC0O4vEot1cMO5WYukQ==" providerName="System.Data.OracleClient" />
    <add name="IntelliCatalogueConnectionType" connectionString="pEYFvqMLmIY=" />-->

    <!--192.168.0.25\SQL12server DEMOEPC-->
    <!--<add name="IntelliCatalogueConnectionString" connectionString="pjEr1JYs+MSNH97Inye7CmJ8eTAX0EyR/nXlZX2EGfsDKwh75olU1ux5A0aGNZ3a+2O12YI2JdmLeknyUf/PTBIZAepbt7uJ" providerName="System.Data.SqlClient" />
    <add name="IntelliCatalogueConnectionType" connectionString="lmwiXeJVuFM=" />-->

    <!--192.168.0.25\SQL12server DEMOUSED-->
    <!--<add name="IntelliCatalogueConnectionString" connectionString="pjEr1JYs+MSNH97Inye7CmJ8eTAX0EyR/nXlZX2EGfsDKwh75olU1qNE2HV9stSMcxOr6lcTK+ZqsPjIpl9V1UevGR7+4PGSVbJqv0GCZFM=" providerName="System.Data.SqlClient" />
    <add name="IntelliCatalogueConnectionType" connectionString="lmwiXeJVuFM=" />-->

    <!--115.124.109.82 DEMOUSED-->
    <!--<add name="IntelliCatalogueConnectionString" connectionString="pjEr1JYs+MT1NAcol0/7/f3SykhOf64JuZd/mA2chE8tfqo4F37W4KngDBXoFelXU5LPWp+PEvRcUlF3S9LyUg==" providerName="System.Data.SqlClient" />
    <add name="IntelliCatalogueConnectionType" connectionString="lmwiXeJVuFM=" />-->
    <!--ORCLTEST MFSECATTEST-->
    <!--<add name="IntelliCatalogueConnectionString" connectionString="zzQWoosR9n7MmN7m5j2S0OA2xPrJ3UCBvWk+SAZxyV7sWoWLSzOU1LweaYfywNgd" providerName="System.Data.OracleClient" />
    <add name="IntelliCatalogueConnectionType" connectionString="pEYFvqMLmIY=" />-->

    <!--SQL ARCTICDB-->
    <!--<add name="IntelliCatalogueConnectionString" connectionString="qVSRusv+vWLzXd3DtEraGwmo3gQE09Yx3JORji+hI0rC4xkHcUR5u6g5sc+nY79hDQyxodEq6DJOMxGY3mL/QMbZflGqUwds2kd8RIQxqOR0Nchm1bPy0A==" providerName="System.Data.SqlClient" />
    <add name="IntelliCatalogueConnectionType" connectionString="lmwiXeJVuFM=" />-->

   

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="10000" maxRequestLength="102400" maxQueryStringLength="4000" maxUrlLength="560" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="10000" enableVersionHeader="false" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MusaService.Service1" behaviorConfiguration="returnFaults" >
        <endpoint contract="MusaService.IService1"  binding="webHttpBinding" address="" behaviorConfiguration="MusaService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpBinding" maxReceivedMessageSize="2097152">
          <!--<security mode="Transport"></security>-->
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MusaService">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="returnFaults">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
          <!--<serviceMetadata httpsGetEnabled="true"/>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
